.doit.db
.venv
__pycache__
outputs
data/*/original/*
data/*/preprocessed/*
stage
# Hide security-relevant environment variables in .envrc
# Move all configuration-relevant environment variables to .env
.envrc 
